{% extends "base.html" %}

{% block body %}

  <div class="container-group-light-gray">
    <hr class="spacer spacer-md">
    <div class="container">
      <a id="historico"></a>
      <div class="featurette">
        <img class="featurette-image pull-right" src="img/historico.jpg">
        <h2>Histórico</h2>
        <p class="lead">A Ephrom foi constituída em 2012 como uma spinoff da Barros & Sá, uma empresa especializada em engenharia de software, com mais de 20 anos de mercado.
<p class="lead">Nesses anos iniciais a Ephrom trabalhou como um laboratório de inovação, como foco em pesquisa e desenvolvimento de soluções com alto poder de inovação.</p>
<p class="lead">Em 2012, a empresa foi contemplada no edital de subvenção da FAPEG/FINEP, para um projeto de inovação voltado para o desenvolvimento de uma solução de melhoria de processos de negócio, chamada TalkProcess. Este projeto já se encontrava em andamento e o financiamento contribuiu para acelerar e melhorar a qualidade do produto final.</p>
<p class="lead">Novamente, em 2014, a Ephrom foi contemplada com outro financiamento de subvenção da FAPEG/FINEP, cujo objetivo era evoluir o TalkProcess para uma versão Enterprise, voltada para o mercado de grandes empresas nacionais e, em um segundo momento, para o mercado internacional.</p>
<p class="lead">Em 2014 a Ephrom recebeu o convite para apresentar o TalkProcess em um evento internacional na Europa, o Berlin Change Days. Por meio de um workshop e três dias intensos de interação, foi possível apresentar e discutir as inovações da plataforma com uma audiência seleta, composta por especialistas e pesquisadores de mais de dez países.</p>
<p class="lead">Também em 2014, o TalkProcess foi selecionado na etapa regional, como uma inovação finalista para o Salão da Inovação da RioInfo 2014. Nessa oportunidade, a plataforma foi apresentada para uma banca internacional de avaliadores e investidores, que agregou muita experiência e networking para a equipe da Ephrom.</p>
<p class="lead">Em 2015 o TalkProcess foi selecionado pela Febraban, para o Espaço Inovação do Congresso Internacional de Automação Bancária CIAB 2015, o mais importante evento da área na América Latina. Neste congresso a equipe da Ephrom teve a oportunidade de apresentar as inovações do TalkProcess para os principais players da área bancária do país.</p>
<p class="lead">Apesar de nessa época, o TalkProcess ainda não se encontrava em fase de comercialização, foi uma experiência única ao comprovar o quanto a solução é capaz de chamar a atenção das empresas de porte, para a sua capacidade de gerar valor e assegurar o retorno sobre os investimentos das iniciativas de processos.</p>
</p>
      </div>
    </div>
    <hr class="spacer spacer-md">
  </div>

{% endblock %}