{% extends "base.html" %}

{% block body %}
  <div class="container-group-light-gray">
    <hr class="spacer spacer-md">
    <div class="container">

      <div class="text-init">
        <div>
          <p class="lead">A Ephrom é uma empresa com foco em inovação que atua com o desenvolvimento de tecnologias e abordagens para o desenvolvimento organizacional. Sua orientação estratégia é voltada para materializar inovações de alto impacto, para mercados exigentes e competitivos.</p>
          <p class="lead">Em sua curta trajetória já foi premiada com financiamentos de subvenção da FINEP, já foi destaque em eventos internacionais, foi selecionada para o Salão da Inovação da RioInfo 2014 e ficou entre as finalistas do Espaço Inovação do congresso nacional de automação bancária, CIAB Febraban 2015.<br>
          A Ephrom se destaca pelo seu talento e capacidade de criar inovações disruptivas, capazes de surpreender e mudar o mercado. Um exemplo é a solução Talkprocess.</p>
        </div>
      </div>
    </div>    
    <hr class="spacer spacer-md">
  </div>

  <a id="talkprocess"></a>
  <div class="containder-group-talk container-group-dark-gray">
    <!--<img class="people-talk" src="img/talk-image.png">-->
    <div class="container">
      <hr class="spacer spacer-md">
      <div class="featurette" style="position:relative;">
        <!--<div class="featurette-image pull-right div-image-talk"></div>
        <img class="featurette-image pull-right people-talk-inner" src="img/talk-image.png">-->
        <h2>TalkProcess</h2>
        <p class="lead">O TalkProcess representa um novo conceito em plataforma de desenvolvimento organizacional capaz de ir muito além da melhoria de processos e da capacitação corporativa tradicionais.</p>
        <p class="lead">Por meio do <strong>TalkProcess Intelligent Improvement</strong> é possível levar a melhoria de processos a um novo patamar, ao integrar tecnologias de ponta com bases conceituais que complementam a Gestão de Processos, como por exemplo, o Gestão da Mudança, a Gestão do Conhecimento e Gestão de Projetos.<br>
        Na economia do conhecimento, onde as empresas se inserem atualmente, são necessárias novas formas de fazer, que se alinhem com a crescente Escala, Intensidade e Velocidade com que as pessoas interagem e trocam informação.</p>
        <p class="lead">Já o <strong>TalkProcess Intelligent Learning</strong> integra a gestão de processos com o aprendizado organizacional, a fim de simplificar os treinamentos e elevar o nível de conhecimento dos colaboradores sobre como executar os processos de negócio da empresa.<br>
        Trata-se de uma solução inovadora que facilita o aprendizado dos processos de negócio, impactando diretamente nos indicadores de desempenho dos processos. Além de reduzir custos e prazos dos treinamentos, a solução é capaz de ampliar o interesse dos colaboradores e gerentes pelo desenvolvimento dos processos.</p>
        <p class="lead"><a href="http://www.talkprocess.com.br/" target="_blank">Visite o Site do TalkProcess</a></p>
      </div>
    </div>
    <hr class="spacer spacer-md">
  </div>

  <div>
    <hr class="spacer spacer-md">
    <div class="container">
      <a id="convergencia"></a>
      <!--<hr class="spacer spacer-sm">
      <hr>
      <hr class="spacer spacer-md">-->

      <div class="featurette">
        <img class="featurette-image pull-left" src="img/convergencia.png">
        <h2>Convergência Organizacional</h2>
        <p class="lead">Convergência Organizacional é uma abordagem de desenvolvimento organizacional emergente nas teorias de administração científica. Sua dinâmica se orienta por explorar ativos gerenciais já presentes nas empresas. Tais ativos compreendem o conhecimento dos colaboradores da empresa, as expertises dos profissionais de melhoria e a capacidade de geração de valor das tecnologias de informação.</p>
        <p class="lead">A Convergência Organizacional articula esses ativos de forma a viabilizar a complementaridade de suas competências, produzindo novas sinergias que elevam a efetividade dos projetos de desenvolvimento organizacional.</p>
        <p class="lead">O objetivo é reduzir os riscos de se promover transformações organizacionais e assegurar melhor retorno sobre os investimentos.</p>
      </div>

      <hr class="spacer spacer-md">
    </div>
  </div>
{% endblock %}