{% extends "base.html" %}

{% block body %}

  <div class="container-group-light-gray">
    <hr class="spacer spacer-md">
    <div class="container">
      <a id="missao"></a>
      <div class="featurette">
        <img class="featurette-image pull-left" src="img/missao.jpg">
        <h2>Missão</h2>
        <p class="lead">Prover soluções especializadas em processos e engenharia de software, capazes de implementarem métodos e técnicas de gestão corporativa que contribuam para a eficiência e competitividade dos negócios de nossos clientes.</p>
        <h2>Visão</h2>
        <p class="lead">Construir a imagem da Ephrom no mercado nacional, como um parceiro fornecedor de produtos e serviços de excelência, concebidos com tecnologia de vanguarda e idéias inovadoras de alto valor agregado para o sucesso dos negócios de nossos clientes.</p>
        <h2>Valores</h2>
        <p class="lead">Honestidade, compromisso, competência e dedicação na busca constante por atingir um nível de excelência que nos permita superar as expectativas de nossos clientes e, no âmbito de nossos colaboradores, propiciar um ambiente de trabalho harmonioso, motivador, de crescimento profissional e motivo de orgulho para a equipe interna.</p>
      </div>
    </div>
    <hr class="spacer spacer-md">
  </div>
{% endblock %}