<html>
<head>
<title>Saiba Mais Desktop</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (Saiba Mais Desktop.psd) -->
<table style="margin: 0 auto;id="Table_01" width="1281" height="7215" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="17">
			<img src="images/Saiba-Mais-Desktop_01.jpg" width="1280" height="6697" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="6697" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="3">
			<img src="images/Saiba-Mais-Desktop_02.jpg" width="294" height="54" alt=""></td>
		<td colspan="7">
			<a href="http://www.talkprocess.com.br/linkedin/oqueevalor/{{codigo}}" target="_blank">
				<img src="images/Saiba-Mais-Desktop_03.jpg" width="384" height="21" border="0" alt=""></a></td>
		<td colspan="7">
			<img src="images/Saiba-Mais-Desktop_04.jpg" width="602" height="21" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="21" alt=""></td>
	</tr>
	<tr>
		<td colspan="9">
			<a href="http://www.talkprocess.com/artigolinkedin1/{{codigo}}" target="_blank">
				<img src="images/Saiba-Mais-Desktop_05.jpg" width="530" height="26" border="0" alt=""></a></td>
		<td colspan="5" rowspan="4">
			<img src="images/Saiba-Mais-Desktop_06.jpg" width="456" height="153" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="26" alt=""></td>
	</tr>
	<tr>
		<td colspan="9">
			<img src="images/Saiba-Mais-Desktop_07.jpg" width="530" height="7" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="7" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="7">
			<img src="images/Saiba-Mais-Desktop_08.jpg" width="275" height="263" alt=""></td>
		<td colspan="3">
			<a href="http://www.ephrom.com.br/workshops/WorkshopSP3/{{codigo}}" target="_blank">
				<img src="images/Saiba-Mais-Desktop_08-10.jpg" width="124" height="43" border="0" alt=""></a></td>
		<td colspan="7" rowspan="2">
			<img src="images/Saiba-Mais-Desktop_10.jpg" width="425" height="120" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="43" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="6">
			<img src="images/Saiba-Mais-Desktop_11.jpg" width="124" height="220" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="77" alt=""></td>
	</tr>
	<tr>
		<td colspan="4" rowspan="2">
			<img src="images/Saiba-Mais-Desktop_12.jpg" width="274" height="38" alt=""></td>
		<td colspan="4">
			<a href="http://www.ephrom.com.br/workshops/WorkshopSP3/{{codigo}}" target="_blank">
				<img src="images/Saiba-Mais-Desktop_12-14.jpg" width="191" height="25" border="0" alt=""></a></td>
		<td colspan="4" rowspan="2">
			<img src="images/Saiba-Mais-Desktop_14.jpg" width="416" height="38" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="25" alt=""></td>
	</tr>
	<tr>
		<td colspan="4">
			<img src="images/Saiba-Mais-Desktop_15.jpg" width="191" height="13" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="13" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="2">
			<img src="images/Saiba-Mais-Desktop_16.jpg" width="243" height="81" alt=""></td>
		<td colspan="7">
			<a href="https://br.linkedin.com/in/fernandob1" target="_blank">
				<img src="images/Saiba-Mais-Desktop_09.jpg" width="292" height="25" border="0" alt=""></a></td>
		<td colspan="2" rowspan="5">
			<img src="images/Saiba-Mais-Desktop_18.jpg" width="346" height="183" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="25" alt=""></td>
	</tr>
	<tr>
		<td colspan="7" rowspan="4">
			<img src="images/Saiba-Mais-Desktop_19.jpg" width="292" height="158" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="56" alt=""></td>
	</tr>
	<tr>
		<td rowspan="5">
			<img src="images/Saiba-Mais-Desktop_20.jpg" width="80" height="224" alt=""></td>
		<td>
			<a href="http://www.berlinchangedays.com/page/bcd-events-2014#heading35" target="_blank">
				<img src="images/Saiba-Mais-Desktop_13.jpg" width="76" height="24" border="0" alt=""></a></td>
		<td rowspan="5">
			<img src="images/Saiba-Mais-Desktop_22.jpg" width="87" height="224" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="24" alt=""></td>
	</tr>
	<tr>
		<td rowspan="4">
			<img src="images/Saiba-Mais-Desktop_23.jpg" width="226" height="200" alt=""></td>
		<td colspan="3">
			<img src="images/Saiba-Mais-Desktop_24.jpg" width="107" height="27" alt=""></td>
		<td rowspan="4">
			<img src="images/Saiba-Mais-Desktop_25.jpg" width="66" height="200" alt=""></td>
		<td rowspan="4">
			<img src="images/Saiba-Mais-Desktop_26.jpg" width="76" height="200" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="27" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="3">
			<img src="images/Saiba-Mais-Desktop_27.jpg" width="107" height="173" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="51" alt=""></td>
	</tr>
	<tr>
		<td colspan="3">
			<img src="images/www.ephrom.com.br.jpg" width="128" height="81" alt=""></td>
		<td colspan="3">
			<a href="www.dynamicaconsultoria.com.br">
				<img src="images/Saiba-Mais-Desktop_13-30.jpg" width="150" height="81" border="0" alt=""></a></td>
		<td colspan="2">
			<a href="www.enjourney.com.br" target="_blank">
				<img src="images/Saiba-Mais-Desktop_14-31.jpg" width="156" height="81" border="0" alt=""></a></td>
		<td rowspan="2">
			<img src="images/Saiba-Mais-Desktop_31.jpg" width="204" height="122" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="81" alt=""></td>
	</tr>
	<tr>
		<td colspan="8">
			<img src="images/Saiba-Mais-Desktop_32.jpg" width="434" height="41" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="41" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="images/spacer.gif" width="226" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="49" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="19" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="39" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="66" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="80" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="76" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="87" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="31" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="5" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="92" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="54" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="40" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="56" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="14" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="142" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="204" height="1" alt=""></td>
		<td></td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>